<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vpage.vcars">

    <permission
        android:name="com.vpage.vcars.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission  android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- required permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- optional permission - highly recommended -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false" />
    <!-- optional permission - highly recommended -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <!-- optional permission -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"
        android:required="false" />
    <!-- optional permission -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:required="false" />

    <!-- google cloud messaging -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:required="false" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:required="false" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Permissions to receive and read SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.mapexplore.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature android:glEsVersion="0x00020000"
        android:required="true"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:name="com.vpage.vcars.tools.VCarsApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeStyle">
        <activity android:name="com.vpage.vcars.activity.SplashActivity_"
                  android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />

        <activity
            android:name=".activity.HelpScreenActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GenerateOTPActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignupActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SigninActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />


        <activity
            android:name=".activity.MyActivity_"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.CarDetailActivity_"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.CarRequestActivity_"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.PaymentActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.CurrentCarTrackActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.CurrentCarViewActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.ReportActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.FeedbackActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.CarAttachmentActivity_"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.vpage.vcars.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />


        <activity
            android:name="com.vpage.vcars.chat.JoinChatActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>


        <!-- Declare SMS Broadcast receiver -->
        <receiver android:name="com.vpage.vcars.tools.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_Key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider215382688933698"
            android:exported="true" />



    </application>



</manifest>